html {
    scroll-behavior: smooth;
}

.cv__text-block {
    display: flex;
    font-size: 14px;
    position: relative;
}

.cv__col-left {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 40px;
}

.cv__col-right {
    min-width: 180px;
    width: 180px;
    margin-top: 38px;
    font-size: 14px;
}

.cv__img-with-text {
    display: flex;
    align-items: center;
    position: relative;
}

.cv__save {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 12px;
}

.cv__save::before {
    content: ' ⬇️';
    text-decoration: none;
}

.cv__cvs {
    list-style-type: none;
    padding-left: 0;
}

.cv__img-sqr {
    margin-bottom: 0;
    margin-right: 20px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.cv__title {
    font-size: 28px;
    margin: 0;
}

.cv__title-sub {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: -5px 0 0 0;
    color: #9E9E9E;
}

.cv__subtitle {
    font-size: 20px;
    margin-top: 40px;
}
.cv__subtitle-icon::before {
    display: inline-block;
    width: 30px;
    margin-left: -30px;
}

.cv__subtitle--profile::before {
    content: '👨‍💼';
}

.cv__subtitle--employment::before {
    content: '💼';
}

.cv__subtitle--own_projects::before {
    content: '📊';
}

.cv__subtitle--education::before {
    content: '👨‍🎓';
}

.cv__subtitle--courses::before {
    content: '📚';
}

.cv__subtitle--references::before {
    content: '📢';
}

.cv__h3 {
    font-size: 18px;
    margin-top: 30px;
}

.cv__dates {
    color: #9E9E9E;
    font-size: 12px;
    font-weight: 300;
    margin: -20px 0 0 0;
}

.cv__micro-title {
    font-weight: 300;
    color: #9E9E9E;
    margin-bottom: 10px;
}

.cv__contents-wrapper{
    position: sticky;
    top: 170px;
    margin-top: 50px;
    margin-left: -220px;
    align-self: start;
}

@media screen and (max-width: 1239px) {
    .cv__contents-wrapper {
        display: none;
    }
}

.cv__contents {
    width: 220px;
}

.cv__nav-ul {
    font-size: 12px;
    font-weight: 300;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cv__nav-ul--included {
    padding-left: 20px;
}

.cv__nav-ul--included a {
    text-decoration: none;
}

.cv__contents li.active > a {
    font-weight: bold;
}

.cv__contents a {
    transition: all 0.1s ease-in-out;
}
