body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
    color: #212121;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* ==== Layout ==== */

.common__container {
    max-width: 800px;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.common__header {
    box-sizing: border-box;
    padding: 40px 0;
    display: flex;
    border-bottom: 1px dotted #E0E0E0;
    justify-content: space-between;
}

.common__content {
    display: flex;
    box-sizing: border-box;
    padding: 40px 0;
    flex-grow: 1;
}

.common__footer {
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;
    border-top: 1px dotted #E0E0E0;
}

.common__link,
.common__link:visited {
    color: #9E9E9E;
}

.common__link:hover,
.common__link:active {
    color: #0091EA;
}

/* ==== Header ==== */

.header__tabs {
    display: flex;
}

.header__tab {
    display: flex;
}

.header__tab:not(:last-child)::after {
    display: flex;
    margin-left: 15px;
    content: '|';
    color: #616161;
}

.header__tab:not(:first-child) {
    padding-left: 15px;
}

.header__link {
    text-decoration: none;
}

.header__link--bold {
    font-weight: bold;
}

.header__link,
.header__link:visited {
    color: #9E9E9E;
}

.header__link:hover,
.header__link:active {
    color: #0091EA;
}

@media screen and (max-width: 480px) {
    .header__tab:not(:last-child)::after {
        display: none;
    }

    .header__tab:not(.header__tab--blog) {
        width: 46px;
        height: 46px;
        font-size: 0;
        background-position: center center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .header__tab:not(:first-child) {
        padding-left: 0;
        margin-left: 22px;
    }

    .header__link {
        width: 100%;
        height: 100%;
        display: block;
    }

    .header__tab--instagram {
        background-image: url('../static/socials/instagram.svg');
    }

    .header__tab--twitter {
        background-image: url('../static/socials/twitter.svg');
    }

    .header__tab--facebook {
        background-image: url('../static/socials/facebook.svg');
    }

    .header__tab--telegram {
        background-image: url('../static/socials/telegram.svg');
    }
    
    .header__tab--blog {
        line-height: 46px;
    }
}

@media screen and (max-width: 360px) {
    .header__tab:not(.header__tab--blog) {
        width: 42px;
        height: 42px;
    }

    .header__tab:not(:first-child) {
        padding-left: 0;
        margin-left: 20px;
    }

    .header__tab--blog {
        line-height: 42px;
    }
}

/* ==== Content ==== */

.content__img-sqr {
    width: 250px;
    height: 250px;
    margin-bottom: 40px;
}

/* ==== Footer ==== */

.footer__reserved {
    font-size: 12px;
    color: #9E9E9E;
}
