{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}" class="footer-icon"><i class="svg-icon instagram"></i></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" class="footer-icon"><i class="svg-icon twitter"></i></a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}" class="footer-icon"><i class="svg-icon facebook"></i></a>{% endif %}
{% if site.footer-links.telegram %}<a href="https://t.me/{{ site.footer-links.telegram }}" class="footer-icon"><i class="svg-icon telegram"></i></a>{% endif %}

{% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}" class="footer-icon"><i class="svg-icon dribbble"></i></a>{% endif %}
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}" class="footer-icon"><i class="svg-icon email"></i></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}" class="footer-icon"><i class="svg-icon flickr"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" class="footer-icon"><i class="svg-icon github"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" class="footer-icon"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" class="footer-icon"><i class="svg-icon pinterest"></i></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss" class="footer-icon"></i></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" class="footer-icon"><i class="svg-icon stackoverflow"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}" class="footer-icon"><i class="svg-icon youtube"></i></a>{% endif %}
{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}" class="footer-icon"><i class="svg-icon googleplus"></i></a>{% endif %}
