---
layout: default
---

<div class="posts">
    {% for post in site.posts %}
        <article class="post">
            {% include categories.html %}
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <div class="post__subinfo">
                {% include date.html %}
                {% include reading-time.html %}
            </div>
            {% if post.content contains site.excerpt_separator %}
                <div class="entry">
                    {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
                </div>

                <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more...</a>
            {% else %}
                {{ post.content }}
            {% endif %}

            {% include tags.html %}
        </article>
    {% endfor %}
</div>
