---
layout: default
---

<div class="posts">
    {% for post in site.posts %}
        {% if post.categories %}
            {% assign category = post.categories[1] %}
        {% endif %}
        <article class="post {{category}}">
            <div class="post__category">{{category}}</div>
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <!--Category-->
            <div class="post__subinfo">
                <!--Date-->
                {% assign today_date = 'now' | date: '%s' %}
                {% if post.date %}
                    {% assign today_date = 'now' | date: '%s' %}
                    {% assign post_date = post.date | date: '%s' %}
                    {% if today_date >= post_date %}
                        <span>{{ post.date | date: "%e %B %Y" }}</span>
                    {% endif %}
                {% endif %}
                <!--Reading time-->
                <span>{% include reading-time.html %}</span>
            </div>
            {% if post.content contains site.excerpt_separator %}
                <div class="entry">
                    {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
                </div>

                <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more...</a>
            {% else %}
                {{ post.content }}
            {% endif %}

            <!--Tags-->
            {% if post.tags %}
            <div class="tags">
                Tags:
                {% for tag in post.tags %}
                    <span class="tag">#{{ tag }} </span>
                {% endfor %}
            </div>
            {% endif %}
        </article>
    {% endfor %}
</div>
